body {
    color: rgba(116, 23, 124, 0.308);
    background: rgb(13, 14, 13);
    margin: 50px;
}

header {
    border-bottom: solid 5px rgb(247, 9, 215);
    padding: 20px;
    font-size: 50px;
}